<!DOCTYPE html>
<html>
<head>
    <link href="css/Style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scripts/getArticleHeaders.js"></script>
    <script src="scripts/getCategories.js"></script>
    <script src="scripts/getDocHtml.js"></script>
    <script src="scripts/approve-reject.js"></script>
    <meta charset="utf-8" />
    <title>Keep Your Word</title>
</head>
<body>
    <div id="menu-div" class="sidenav">
    </div>
    <div id="content-div">
    </div>
    <script>
        getMenu();
        getContent("Home");
    </script>
</body>
</html>